{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Projects</title>
    <link rel="stylesheet" href="{% static '/styles/styless.css'%}">
</head>
<body>
    <nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="{% url 'about' %}">abaout</a>
        </li>
        <li>
            <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li>
            <a href="{% url 'tasks' %}">Task</a>
        </li>
        <li>
            <a href="{% url 'create_ task' %}">Create task</a>
        </li>
        <li>
            <a href="{% url 'create_project' %}">Create project</a>
        </li>
    </ul>
</nav>
{% block contend%}
{% endblock %}
</body>
</html>