<nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="{% url 'about' %}">abaout</a>
        </li>
        <li>
            <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li>
            <a href="{% url 'tasks' %}">Task</a>
        </li>
        <li>
            <a href="{% url 'create_ task' %}">Create task</a>
        </li>
        <li>
            <a href="{% url 'create_project' %}">Create project</a>
        </li>
    </ul>
</nav>
{% block contend%}
{% endblock %}
