<nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/abaout">abaout</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="/tasks">Task</a>
        </li>
        <li>
            <a href="/create_task">Create task</a>
        </li>
        <li>
            <a href="/create_project">Create project</a>
        </li>
    </ul>
</nav>
{% block contend%}
{% endblock %}
